*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
}
 header .container{
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.qabul{
    width: 189px;
    height: 49px;
    box-sizing: border-box;
border: 2px solid rgb(222, 46, 84);
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
background: rgb(255, 255, 255);
color: rgb(222, 46, 84);
font-family: Open Sans;
font-size: 12px;
font-weight: 700;
line-height: 150%;
letter-spacing: 2px;
text-align: left;
text-transform: uppercase;
}
.p1{
    color: rgb(222, 46, 84);
font-family: Open Sans;
font-size: 12px;
font-weight: 700;
line-height: 150%;
letter-spacing: 2px;
text-align: left;
text-transform: uppercase;
}
header nav{
    display: flex;
    gap: 32px;
}
nav a{
    color: rgb(34, 34, 34);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    color: rgb(222, 46, 84);
}
.hero{
    width: 100%;
    height: 533px;
    background-image: url("./image\ 4.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.yozilish{
    width: 500px;
    height: 178px;
    margin-bottom: 217px;
}
.yozilish h1{
    /* Big heading */
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 36px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0px;
text-align: left;
}
.qabul2{
width: 240px;
height: 60px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px 12px 24px;
border-radius: 8px;
display: flex;
background: rgba(222, 46, 84, 0.8);
border: none;
color: rgb(255, 255, 255);
font-family: Open Sans Condensed;
font-size: 15px;
font-weight: 700;
line-height: 150%;
letter-spacing: 2px;
text-align: left;
text-transform: uppercase;
margin-top: 48px;
}
.yozilish{
    margin-top: 137px;
    width: 600px;
    height: 178px;
}
.hero .container{
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}
.hero2 .h3{
    text-align: center;
    margin-top: 50px;
}
.hijoma{
    width: 864px;
    height: 200px;
    display: flex;
    gap: 64px;
    margin: auto;
    margin-top: 120px;
}
.he{
    width: 600px;
    height: 149px;
}
.p2{
    /* Body text */
color: rgb(68, 68, 68);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0px;
text-align: left;
}
.h6{
    text-align: start;
    padding-bottom: 24px;
}
.terapiya{
    width: 864px;
    height: 200px;
    display: flex;
    gap: 64px;
    margin: auto;
    margin-top: 120px;
}
.hes{
    width: 600px;
    height: 125px;
}
.hero3{
    width: 100%;
    height: 669px;
    background: rgb(14, 180, 193);
    margin-top: 100px;
}
.hero3 h2{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 77px;
letter-spacing: 0px;
text-align: center;
padding-top: 64px;

}
iframe{
    border-radius: 10px;
    width: 513px;
    height: 331px;
}
.inputlar{
    width: 540px;
    height: 331px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(255, 255, 255);
    
}
input{
    width: 460px;
    height: 39px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 27px;
    box-sizing: border-box;
border: 1px solid rgb(222, 222, 222);
border-radius: 5px;
font-size: 14px;
font-weight: 600;
line-height: 26px;
background: rgb(255, 255, 255);
padding-left: 32px;
}
.mapinp{
    width: 1150px;
    height: 331px;
    display: flex;
    gap: 68px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.button{
    width: 460px;
    height: 39px;
    background-color: rgb(56, 204, 139);
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 26px;
border: none;
margin-left: 40px;
margin-top: 13px;
}
footer{
    height: 98px;
    background: rgb(34, 34, 34);
}
footer .container{
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
footer .container nav{
    display: flex;
    gap: 32px;
}
footer .container nav a{
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}
footer .container nav a:hover{
    color: rgb(222, 46, 84);
}